<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643644211099-tv4g7jou8dp2h8t3mk0glgmdc4sts1kj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643644211099-tv4g7jou8dp2h8t3mk0glgmdc4sts1kj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>643644211099-bg45fak52j39erl3f121143kh9aiq1q2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB7nXQYPwxCNf9t8NrX__xYYyMWGf7pP5g</string>
	<key>GCM_SENDER_ID</key>
	<string>643644211099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.TaskTerriers</string>
	<key>PROJECT_ID</key>
	<string>taskterriers-39683</string>
	<key>STORAGE_BUCKET</key>
	<string>taskterriers-39683.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643644211099:ios:5282915ab4f345a3d12b3e</string>
</dict>
</plist>